@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400italic|Alegreya+Sans:400,400italic|Alegreya:400italic,900italic);

* {
  box-sizing: border-box;
}

html {
	border-top: 4px solid black;
	min-width: 320px;
}

body {
  text-align: center;
	font-family: sans-serif;
	font-family: 'Alegreya Sans', Verdana, Tahoma, sans-serif;
}

@media (min-width: 900px) {
	body {
		max-width: 900px;
		padding: 0 25px;
		margin: 0 auto;
	}
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
	margin: 0;
}

header {
  text-align: center;
	margin: 0 auto;
	width: 100%;
}

	.name {
		font-family: 'Economica', sans-serif;
		font-size: 3rem;
		margin: 2rem;
	}

	.nav {
		font-family: 'Work Sans', sans-serif;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		width: 100%;
	}

		.nav li {
			display: inline-block;
			font-weight: 400;
			margin: 5px;
			font-size: 1rem;
			letter-spacing: 1px;
		}

		@media (min-width: 375px) {
			.nav li {
				margin: 10px 5px;
				font-size: 1rem;
				letter-spacing: 2px;	
			}
		}

			.nav a {
				color: #333333;
			}
				.nav a:hover {
					font-weight: 500;
				}

				.nav .selected {
					font-weight: 700;
				}

	@media (min-width: 900px) {
		header {
			margin: 0 auto 1rem;
		}
		
			.name, 
			.nav {
				display: inline-block;
				line-height: 50px;
				margin: 1.5rem 0;
			}

			.name {
				float: left;
			}
			.name i {
				font-size: 32px;
				margin-left: 10px;
			}

			.nav {
				float: right;
				border: 0;
				width: auto;
			}

			.nav li {
				margin: 0 20px 0 0;
			}
			.nav:last-child {
				margin-right: -20px;
			}
	}

/* Start Content Container */
.content {
	font-size: 1.25rem;
	line-height: 1.6;
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
}

.content p {
	text-align: left;
}

.contentTitle {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 0;
	margin-top: 2rem;
	display: none;
}

@media (min-width: 900px) {
	.content {
		width: 100%;
		padding: 0;
	}
	
	.contentTitle {
		display: block;
		clear: both;
		text-align: left;
		font-family: 'Work Sans', sans-serif;
		font-size: 1.5rem;
		border-top: 1px solid black;
		width: 300px;
		margin-top: 0;
		margin-bottom: 2rem;
		padding-top: 10px;
	}
}
/* End Content Container */

.profilePicture {
	width: 100%;
	max-width: 400px;
	height: auto;
	border: 1px solid #000;
	margin: 1rem 0 0;
	border-radius: 5px;
}

	@media (min-width: 900px) {
		.profileInfo {
			margin-top: 1rem;
		}
		
			.profilePicture {
				width: 250px;
				float: left;
				margin-right: 25px;
				margin-top: 0;
			}
	}

.twitchInfo {
	margin-top: 5rem;
	background-color: #262626;
	border-radius: 5px;
	padding: 1rem 2rem;
	color: #fff;
}

.twitchInfo > img {
	display: block;
	width: 195px;
	margin: 2rem auto 2rem;
}

.twitchInfo > p {
	margin-top: 1rem;
}

.twitchProjects {
	list-style-type: none;
	margin-top: 1rem;
}

.twitchProjects > li {
	display: inline-block;
	border: 1px solid black;
	width: 25%;
	margin: 0 2%;
}

.twitchProjects img {
	width: 100%;
	border-radius: 5px;
	margin: 0 auto;
}

@media (min-width: 900px) {
	.twitchInfo {
		margin-top: 5rem;
		text-align: left;
	}
	
		.twitchInfo > p {
			margin-top: .5rem;
		}
	
		.twitchInfo > img {
			float: right;
			margin-left: 25px;
		}

		.twitchProjects {
			display: inline-block;
			width: 200px;
			margin: 0;
			clear: right;
		}

		.twitchProjects > li {
			width: 25%;
			margin: 0 2%;
		}
}

.coursesInfo {
	margin-top: 5rem;
}

	.coursesInfo > img {
		width: 100%;
		max-width: 400px;
		height: auto;
		border: 1px solid #000;
		margin: 1rem 0;
		border-radius: 5px;
	}

	.coursesInfo > p {
		margin-top: 0;
	}

@media (min-width: 900px) {
	.coursesInfo > img {
		width: 250px;
		float: left;
		margin-right: 25px;
		margin-top: 0;	
	}
}

.portfolio_display {
	margin: 0 auto;
	font-size: 0;
	max-width: 550px;
}

	.external,
	.external_mini {
		display: inline-block;
		border: 1px solid black;
		height: auto;
		overflow: hidden;
		border-radius: 10px;
	}

	.external img,
	.external_mini img {
		height: auto;
		width: 100%;
	}

	.external {
		width: 100%;
		margin: 1rem 0;
	}

	.external_mini {
			margin: 4% 0 4% 4%;
			width: 20%;
	}

		.external_mini:last-of-type {
			margin-right: 4%;
		}

.projectTitle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.selectedProject {
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
}

	@media (min-width: 480px) {
		.external {
			width: 40%;
			margin: 1rem;
		}
	}

@media (min-width: 900px)	{
	.portfolio_display {
		padding: 0;
		position: relative;
	}

	.external {
		margin: 15px;
		padding: 0;
	}
	
}

@media (min-width: 900px) {
	.projectTitle {
		text-align: left;
		border-top: 0;
		border-bottom: 0;
	}
	
	.selectedProject {
		width: 400px;
		float: left;
		margin-right: 25px;
	}
	
	.aboutProjectTitle {
		display: none;
	}
}

.languages {
	margin: 0 auto;
	text-align: left;
	list-style-type: none;
}

	.languages li {
		border-radius: 10px;
		padding: 5px;
		margin-top: 5px;
		margin-left: 25px;
		font-weight: bold;
		letter-spacing: 1.5px;
		position: relative;
	}

.languages > li:before {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			content: "";
			
			background-size: 100%;
			position: absolute;
			top: 10px;
			left: -20px;
}

.languages img {
	width: 25px;
}
	.listHTML:before {
		background: url("../img/icons/htmlicon.png") no-repeat 0 0;
	}

	.listCSS:before {
		background: url("../img/icons/cssicon.png") no-repeat 0 0;
	}

	.listJavaScript:before {
		background: url("../img/icons/javascripticon.png") no-repeat 0 0;
	}

	.listPHP:before {
		background: url("../img/icons/phpicon.png") no-repeat 0 0;
	}

	.listMySQL:before {
		background: url("../img/icons/mysqlicon.png") no-repeat 0 0;
	}

@media (min-width: 900px) {
	.languagesTitle {
		margin-top: 5rem;
		text-align: left;
	}
	
	.languages {
		font-size: 0;
	}
	
	.languages > li {
		font-size: 1.25rem;
		display: inline-block;
		width: 17%;
	}
}

.backToTopButton {
	display: inline-block;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-top: 3rem;
	border: 1px solid #3E494F;
}
.backToTopButton:link, 
.backToTopButton:visited, 
.backToTopButton:hover, 
.backToTopButton:active {
	color: #3E494F;
}

@media(min-width: 900px) {
	.backToTopButton {
		display: none;
	}
}

.projectExternalLinks {
	font-size: 0;
	margin-top: 3rem;
}

.projectExternalLinks > li {
	display: inline-block;
	list-style-type: none;
	width: 50%;
	font-size: 1rem;
}

.liveSiteButton {
	display: inline-block;
	background-color: #ecb502;
	padding: 10px;
	font-weight: bold;
	letter-spacing: 1.5px;
	border: 1px solid #000;
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.liveSiteButton:link, 
.liveSiteButton:visited, 
.liveSiteButton:hover, 
.liveSiteButton:active {
	color: #fff;
}

.githubButton {
	display: inline-block;
	background-color: #7d558f;
	padding: 10px;
	font-weight: bold;
	letter-spacing: 1.5px;
	border: 1px solid #000;
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.githubButton:link, 
.githubButton:visited, 
.githubButton:hover, 
.githubButton:active {
	color: #fff;
}

@media (min-width: 900px) {
	.projectExternalLinks {
		margin-top: 4rem;
	}
	
	.projectExternalLinks > li {
		width: 40%;
		margin: 0 5% 0;
		border-radius: 5px;
	}
	
	.liveSiteButton {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.githubButton {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}


/* Start Contact Content */

.info {
	display: none;
}

form {
	max-width: 425px;
	margin: auto;
}

label, input, textarea {
	display: block;
	width: 100%;
	margin: 0 auto;
}

label {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	text-align: left;
	margin: 32px auto 7px;
}

input, textarea, .errorMessage {
	border-radius: 5px;
	padding: 7px;
	background-color: #f8f8f8;
	border: 1px solid #000000;
}

textarea {
	height: 150px;
}

input[type=submit] {
	background-color: #ecb502;
	color: white;
	font-family: sans-serif;
	font-weight: 700;
	margin-top: 42px;
	padding: 14px;
}

input[type=submit]:hover {
	letter-spacing: 1px;
	transition-duration: 1s;
	color: #ecb502;
	background-color: #f8f8f8;
}

.errorMessage {
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	margin: 5px auto 0;
}

/* End Contact Content */

footer p {
	border-top: 1px solid black;
	width: 224px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

footer img {
	border-radius: 5px;
	height: 35px;
	width: 35px;
	margin: 0 1px;
}
footer a:nth-child(1) {
	margin-right: 1px;
}

@media (min-width: 900px) {
		footer {
		text-align: right;
		margin-top: 4rem;
	}
	
	footer p {
		border-top: 1px solid black;
		width: 300px;
		text-align: right;
		display: inline-block;
		padding-top: 10px;
	}
}

	.clearfix::after {
		display: block;
		content: " ";
		clear: both;
	}

#success {
	text-align: center;
	color: #6dad00;
	font-weight: 600;
}

.embededLiveStream {
	height: 378px;
	width: 100%;
}







