#contenttest {
  width: 900px;
  height: 450px;
}

#contenttest li {
  display: inline-block;
  height: 40%;
  width: 20%;
  margin: 0;
}

.gray {
  background-color: #333333;
}

.yellow {
  background-color: #ecb502;
}